a {
    color: #000
}

.blog_single_area img,
img.aligncenter {
    max-width: 100%;
}

img.attachment-full.size-full {
    width: auto;
    padding-top: 15px;
}

.sticky .col-sm-6 {
    display: block;
    background: #eee
}

.hentry {
    margin: 0 0 1.5em
}

.byline,
.updated:not(.published) {
    display: none
}

.single .byline,
.group-blog .byline {
    display: inline
}

.page-links {
    clear: both;
    margin: 0 0 1.5em
}

.comment-content a {
    word-wrap: break-word
}

.bypostauthor {
    display: block
}

.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    display: none
}

.infinity-end.neverending .site-footer {
    display: block
}

embed,
iframe,
object {
    max-width: 100%
}

.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 100%
}

.wp-caption .wp-caption-text {
    margin: .5em 0;
    font-size: 14px
}

.wp-caption-text {
    text-align: center
}

.gallery {
    margin-bottom: 1.5em
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%
}

.gallery-columns-2 .gallery-item {
    max-width: 50%
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%
}

.gallery-columns-4 .gallery-item {
    max-width: 25%
}

.gallery-columns-5 .gallery-item {
    max-width: 20%
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%
}

.gallery-caption {
    display: block;
    color: #707070;
    color: rgba(51, 51, 51, .7);
    display: block;
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    font-size: 12px;
    line-height: 1.5;
    padding: .5em 0
}

.gallery {
    width: 100%
}

figure.gallery-item {
    margin-bottom: 10px;
    display: inline-block
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    clip: auto!important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: .875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000
}

#content[tabindex="-1"]:focus {
    outline: 0
}

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
    margin-bottom: 10px
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
    margin-right: 1em;
    margin-bottom: 10px
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.clear:before,
.clear:after,
.guten_elements:before,
.guten_elements:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed
}

.clear:after,
.guten_elements:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both
}

.post-content img {
    max-width: 100%;
    height: auto
}

.media-left img {
    max-width: none
}

pre {
    background: #f5f5f5;
    color: #666;
    font-family: monospace;
    font-size: 14px;
    margin: 20px 0;
    overflow: auto;
    padding: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 28px;
}

table {
    margin: 0 0 1.5em;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0
}

th {
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    padding-right: 10px!important
}

td,
th {
    border-top: 1px solid #ededed;
    padding: 10px;
}

/** === Separator === */
.wp-block-separator.is-style-dots {
    padding: 10px 0;
}

.wp-block-separator.is-style-dots:before {
    content: "\00b7 \00b7 \00b7 \00b7 \00b7 \00b7 \00b7 \00b7 \00b7 \00b7 \00b7 \00b7 \00b7 \00b7 \00b7";
    color: #767676;
    font-size: 1.6875em;
    letter-spacing: calc(2 * 1rem);
    padding-left: calc(1.5 * 1rem);
}
body .wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
    max-width: 150px;
}
hr.wp-block-separator{
        background-color: #767676;
    border: 0;
    height: 2px;
    margin-bottom: 3rem;
    margin-top: 3rem;
    text-align: left;
    border-color: transparent;
}

input {
    display: inline;
    height: auto;
    padding: 4px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

input[type="submit"] {
    height: auto;
    padding: 4px 12px;
    line-height: 1.42857143;
    color: #999;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

input[type="submit"]:hover {
    cursor: pointer;
    background-image: none !important;
    border-color: #4776e6;
    color: #4776e6;
}

.article-content ol li {
    list-style-type: decimal;
    margin-left: 2em;
    padding: 5px
}

.search-no-results h1.page-title {
    padding-top: 10px;
    padding-left: 5px
}

.no-results .page-content input.form-control {
    width: 100%
}

.error-text h1 {
    color: #f60d2b;
    font-size: 42px;
    line-height: 1.7
}

.error-text h4 {
    margin-top: 15px
}

.error404 button.btn.btn-style {
    margin-top: 10px
}

/** === Widget Styles === */
.widget img {
    max-width: 100%;
    height: auto
}

.widget ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.widget select {
    width: 100%!important;
    height: 40px;
    color: #8C8C8C;
    margin: 0 auto;
    display: table;
    margin-top: 30px;
    margin-bottom: 10px;
    background: #fff;
    padding: 0 5px;
}

.widget ul li:last-child {
    border-bottom: none
}

.widget.widget_nav_menu ul li,
.widget.widget_meta ul li,
.widget.widget_pages ul li,
.widget.widget_archive ul li,
.widget.widget_categories ul li {
    font: 400 15px/34px "Quicksand", sans-serif;
    color: #666;
}

.footer_sidebar .widget.widget_nav_menu ul li,
.footer_sidebar .widget.widget_meta ul li,
.footer_sidebar .widget.widget_pages ul li,
.footer_sidebar .widget.widget_archive ul li,
.footer_sidebar .widget.widget_categories ul li {
    color: rgba(255, 255, 255, 0.5);
}

.widget.widget_nav_menu ul li a,
.widget.widget_meta ul li a,
.widget.widget_pages ul li a,
.widget.widget_archive ul li a,
.widget.widget_categories ul li a {
    font: 500 15px/34px "Quicksand", sans-serif;
    color: #666;
    display: inline-block
}

.footer_sidebar .widget.widget_nav_menu ul li a,
.footer_sidebar .widget.widget_meta ul li a,
.footer_sidebar .widget.widget_pages ul li a,
.footer_sidebar .widget.widget_archive ul li a,
.footer_sidebar .widget.widget_categories ul li a {
    font-weight: 400;
}

.widget_rss cite,
.widget_rss .rssSummary {
    font-weight: 400;
}

.widget_rss cite {
    color: #999;
}

.textwidget p {
    font-weight: 400;
}

.footer_sidebar .footer-widget.widget ul li a {
    color: rgba(255, 255, 255, 0.5);
}

.widget.widget_nav_menu ul li a i,
.widget.widget_meta ul li a i,
.widget.widget_pages ul li a i,
.widget.widget_archive ul li a i,
.widget.widget_categories ul li a i {
    font-size: 15px;
    vertical-align: middle;
    padding-right: 14px
}

.widget.widget_recent_entries li a {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 5px
}

.widget.widget_recent_entries li {
    padding: 13px 0 17px 0
}

.widget span.post-date {
    display: block
}

li.recentcomments {
    line-height: 2
}

ul li.recentcomments>a {
    padding-left: 0;
    line-height: normal
}

.widget_recent_comments ul li span {
    color: #666;
    font-weight: 700
}

.widget_recent_comments ul li a {
    color: #333;
    font-weight: 500;
}

#wp-calendar {
    width: 100%
}

#wp-calendar tfoot tr td a {
    color: #666
}

.widget-inner {
    padding: 30px
}

img.alignnone.wp-image-907 {
    height: auto;
    width: 100%
}

.footer-widget.widget {
    margin-top: 65px
}

.footer-widget .tagcloud a {
    color: rgba(255, 255, 255, 0.5);
    border-color: #555;
}

.footer-widget.widget:first-child,
.footer-widget.widget:nth-child(2),
.footer-widget.widget:nth-child(3),
.footer-widget.widget:nth-child(4) {
    margin-top: 0
}

.page-links>.page-links-title {
    border: 0;
    color: #707070;
    color: rgba(51, 51, 51, .7);
    height: auto;
    margin: 0;
    padding-right: .5em;
    width: auto
}

@media screen and (min-width:77.5em) {
    .page-links a,
    .page-links>span {
        margin: 0 .25em .25em 0
    }
}

@media screen and (min-width:77.5em) {
    .page-links a,
    .page-links>span {
        margin: 0 .25em .25em 0
    }
}

.page-links a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, .3);
    background-color: #333;
    border-color: #333;
    color: #fff
}

.page-links a,
.page-links>span {
    border: 1px solid #eaeaea;
    border: 1px solid rgba(51, 51, 51, .1);
    display: inline-block;
    font-size: 12px;
    font-size: 1.2rem;
    height: 2em;
    line-height: 2;
    margin: 0 .3333em .3333em 0;
    text-align: center;
    width: 2em
}

.sticky {
    background: #eee
}

input.search-field {
    width: 95%;
    height: 40px;
    background: #f7f7f7
}

input.search-submit {
    width: 60px;
    height: 40px;
    background: transparent;
    padding: 5px;
    font-size: 14px!important;
    margin-left: -12px;
    margin-top: -1px
}

.post_tag_info .post_tag a,
.tagcloud a {
    font-size: 14px !important;
    line-height: 30px;
    font-weight: 400;
    color: #404040;
    border: 1px solid #e0e0e0;
    padding: 0 15px;
    display: inline-block;
    margin: 0 5px 10px 0;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

}

.footer-widget .tagcloud a:hover {
    background: #404040;
    color: #fff
}

.sidebar-box .tagcloud a:hover {
    color: #ffffff!important;
    background: linear-gradient(-160deg, rgb(26, 192, 237) 0%, rgb(31, 242, 255) 100%)
}

.widgets ul {
    margin: 0;
    padding: 0
}

.sidebar_widgets h3 {
    font-weight: 600;
    margin-bottom: 38px;
    font-size: 26px
}

.widget_rss ul li {
    margin-top: 25px
}

.widget_nav_menu ul.sub-menu li,
.widget_categories ul.children li {
    margin-left: 15px;
    border: none;
    padding-bottom: 0;
    font-weight: 300
}

.widgets img {
    height: auto
}

a.rsswidget {
    color: #666;
    font-weight: 700
}

.widget ul ul.children {
    margin-left: 15px
}

.post_tag_info {
    clear: both
}

.post .featured_post {
    padding: 5px 10px;
    background: gray;
    display: inline-block;
    color: #fff
}

.blog-section .blog-items .blog-content h2 {
    margin: 0
}

.widget_rss span.rss-date {
    display: block;
    padding-bottom: 5px
}

.widget_nav_menu .menu li {
    margin-right: 0
}

.logged-in .comment_text {
    padding-bottom: 0
}

.comment_item_text h2 {
    padding-bottom: 12px;
}
.comment_item_text h3 {
    margin-top: 0;
}

.widget_nav_menu ul.menu>li>a {
    font-weight: 500 !important;
}

.widget.widget_recent_comments > ul > li {
    padding: 15px 15px 5px 0;
    position: relative;
    padding-left: 30px;
    line-height: 1.6;
}

.widget_recent_comments ul li span.comment-author-link a,
.widget_recent_comments ul li span,
.widget.widget_recent_comments > ul > li b {
    color: rgba(0, 0, 0, 0.4);
    font-weight: 500;
    font-size: 15px;
}

.widget.widget_recent_comments > ul > li:before {
    content: "\f0e5";
    font-family: 'FontAwesome';
    font-size: 16px;
    padding-right: 10px;
    position: absolute;
    left: 5px;
}

.widget.widget_nav_menu ul li a,
.widget.widget_meta ul li a,
.widget.widget_pages ul li a,
.widget.widget_archive ul li a,
.widget.widget_categories ul li a {
    color: #333;
}

.widget.widget_nav_menu ul li a:hover,
.widget.widget_meta ul li a:hover,
.widget.widget_pages ul li a:hover,
.widget.widget_archive ul li:hover,
.widget.widget_archive ul li a:hover,
.widget.widget_categories ul li a:hover {
    color: #4776e6;
}

.footer_sidebar .widget.widget_nav_menu ul li a:hover,
.footer_sidebar .widget.widget_meta ul li a:hover,
.footer_sidebar .widget.widget_pages ul li a:hover,
.footer_sidebar .widget.widget_archive ul li:hover,
.footer_sidebar .widget.widget_archive ul li a:hover,
.footer_sidebar .widget.widget_categories ul li a:hover {
    color: #fff;
}


.blog-content .wp-block-button {
    margin-bottom: 10px;
}

p[style="font-size:46px"] {
    line-height: 1.8 !important;
}

.blog_single_area .wp-block-group.has-background {
    padding: 20px;
    margin-bottom: 30px;
}
.wp-block-media-text, .wp-block-media-text.alignwide, figure.wp-block-gallery {
    margin-bottom: 30px;
}

dd {
    font-size: 15px;
    font-weight: 500;
    color: #8f9093;
    line-height: 26px;
    margin-bottom: .5rem;
}

.gallery-caption {
    display: block;
    color: rgba(51, 51, 51, .7);
    line-height: 26px;
    font-size: 15px;
    margin-bottom: 0px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}

/*
     FILE ARCHIVED ON 01:40:58 Dec 03, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:05:46 Sep 21, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.487
  exclusion.robots: 0.018
  exclusion.robots.policy: 0.009
  esindex: 0.01
  cdx.remote: 52.319
  LoadShardBlock: 2353.081 (3)
  PetaboxLoader3.datanode: 2692.196 (6)
  load_resource: 704.003 (2)
  PetaboxLoader3.resolve: 324.756 (2)
  loaddict: 32.313
*/